<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1029197055336-trbp43b66oqnjmgicoo73pqihhfdue3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029197055336-trbp43b66oqnjmgicoo73pqihhfdue3g</string>
	<key>API_KEY</key>
	<string>AIzaSyCHe7bPb9kWPlO9a2OMem_6OkaBFw7sD6o</string>
	<key>GCM_SENDER_ID</key>
	<string>1029197055336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prodo.Prodo-iOS</string>
	<key>PROJECT_ID</key>
	<string>prodo-d65fb</string>
	<key>STORAGE_BUCKET</key>
	<string>prodo-d65fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029197055336:ios:b7dca3029610347d</string>
	<key>DATABASE_URL</key>
	<string>https://prodo-d65fb.firebaseio.com</string>
</dict>
</plist>